body {
   background-image: url("../images/AntarcticaDomeCSnow.jpg");
   background-size: cover;}
   body #game {
     width: 60vmin;
     height: 100vmin;
     background-color: black;
     margin: 0 auto; }